@model List<Project>

<h1>Projects</h1>

<div>
    @foreach (var project in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@project.Title</h5>
                <img src="@project.ImageUrl" alt="@project.Title" class="card-img-top">
            </div>
            <div class="card-footer">
                <a href="/Projects/Details/@project.ID" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>
