@model Diploma.Models.Contact

<h1>Создание контакта</h1>

<form asp-controller="Contacts" asp-action="Create" method="post">
    <div>
        <label asp-for="Address">Адрес:</label>
        <input asp-for="Address" class="form-control" />
    </div>
    <div>
        <label asp-for="Phone">Телефон:</label>
        <input asp-for="Phone" class="form-control" />
    </div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
    </div>
    <button type="submit">Создать</button>
</form>