@model Diploma.Models.Contact

<h1>Удаление контакта</h1>

<div>
    <h3>Address:</h3>
    <p>@Model.Address</p>
</div>

<div>
    <h3>Phone:</h3>
    <p>@Model.Phone</p>
</div>

<div>
    <h3>Email:</h3>
    <p>@Model.Email</p>
</div>

<form asp-controller="Contact" asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="ID" />
    <button type="submit">Удалить</button>
</form>
