@{
    ViewData["Title"] = "Контактная информация";
}

<h1>Контактная информация:</h1>

<div>
    <h5>Адресс:</h5>
    <p>Швейца́рская Конфедера́ция, Бёрн</p>
</div>

<div>
    <h5>Телефон:</h5>
    <p>+ 41 111 44 11</p>
</div>

<div>
    <h5>Email:</h5>
    <p>swiss@test.com</p>
</div>
