@model Diploma.Models.Contact

<h1>Контактная информация:</h1>

<div>
    <h3>Address:</h3>
    <p>Швейца́рская Конфедера́ция, Бёрн</p>
</div>

<div>
    <h3>Phone:</h3>
    <p>+41 44 11 444</p>
</div>

<div>
    <h3>Email:</h3>
    <p>swiss@swiss.com</p>
</div>